<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <header th:replace="layout/plantilla :: header"/>
        <h2>Listado de clientes</h2>
        <div>Saludos</div>
        <p>Hola</p>
        <p>[[${mensaje}]]</p>
        <a th:href="@{/nuevoCliente}">Nuevo Cliente</a>
        <div th:if="${clientes != null and !clientes.empty}">
            <table border="1">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                        <th>Modificar</th>
                        <th>Eliminar</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td>[[${cliente.nombre}]]</td>
                        <td>[[${cliente.apellidos}]]</td>
                        <td>[[${cliente.correo}]]</td>
                        <td>[[${cliente.telefono}]]</td>
                        <td><a th:href="@{/modificarCliente/} + ${cliente.idCliente}">Modificar</a></td>
                        <td><a th:href="@{/eliminarCliente/} + ${cliente.idCliente}">Eliminar</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div th:if="${clientes == null or clientes.empty}">
            <h2>No hay clientes en la base de datos</h2>
        </div>
        <footer th:replace="layout/plantilla :: footer"/>
    </body>
</html>
