<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml"
      xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body >
        <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
            <div class="conainer">
                <div class="row">
                    <div class="col-md-3">
                        <button type="button" 
                                class="btn btn-primary btn-block"
                                data-bs-toggle="modal"
                                data-bs-target="#agregarCliente">
                            <i class="fas fa-user-plus"></i> Agregar

                        </button>
                    </div>
                </div>
            </div>
        </section>
        <section thfragment="agregarCliente">
            <div id="agregarCliente"
                 class="modal fade"
                 tabindex="-1"
                 >
                <div class="modal-content">
                    <div class="modal-header bg-info text-white">
                        <h5 class="modal-title">Agregar Cliente</h5>
                        <button type="button"
                                class="btn-close"
                                data-bs-dismiss="modal"
                                aria-label="Close">    
                        </button>
                    </div>
                    <form th:action="@{/cliente/guardar}"
                          th:object="${cliente}">
                        <input type="hidden" name="idCliente" th:field="*{idCliente}" />
                        <label>Nombre</label>
                        <input type="text" name="nombre" th:field="*{nombre}"/>
                        <br>
                        <label>Apellidos</label>
                        <input type="text" name="apellidos" th:field="*{apellidos}"/>
                        <br>
                        <label>Correo</label>
                        <input type="email" name="correo" th:field="*{correo}"/>
                        <br>
                        <label>Telefono</label>
                        <input type="tel" name="telefono" th:field="*{telefono}"/>
                        <br>
                        <input type="submit" name="guardar" value="guardar" />





                    </form>
                </div>

            </div>
        </section>
        <h1>Listado De Clientes</h1>

        <a th:href="@{/cliente/nuevo}" class="btn btn-primary"><i class="fas fa-user-plus"></i>Nuevo Cliente</a>

        <div th:if="${clientes != null and !clientes.empty}">
            <table border="0">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellidos</th>
                        <th>Correo</th>
                        <th>Teléfono</th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td>[[${cliente.nombre}]]</td>
                        <td>[[${cliente.apellidos}]]</td>
                        <td>[[${cliente.correo}]]</td>
                        <td>[[${cliente.telefono}]]</td>
                        <td><a th:href="@{cliente/eliminar/} + ${cliente.idCliente}" class="btn btn-danger"><i class="fas fa-trash"></i>Eliminar</a>
                            <a th:href="@{cliente/modificar/} + ${cliente.idCliente}" class="btn btn-success"><i class="fas fa-pencil"></i>Modificar</a></td>

                    </tr>
                </tbody>
            </table>  

        </div>

        <div th:if="${clientes == null and !clientes.empty}">
            <h2>NO HAY REGISTROS</h2>
        </div>

    </body>
    <footer th:replace="~{layout/plantilla :: footer}">

    </footer>
</html>
