/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 23 ene. 2023, 17:06:32
    Author     : johan
*/

*{
    background-color: whitesmoke
}

#header{
    width: 20%;
    bottom: 20px;
    background-color: blue;
    color: white;
    position: fixed;
    top: 80px;
    left: 0;
}
#aside{
    width: 20%;
    bottom: 20px;
    background-color: blue;
    color: white;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: yellowgreen;
    color: black;
    
}
#contenido{
    width: 20%;
    bottom: 20px;
    background-color: blue;
    color: white;
    position: fixed;
    top: 80px;
    left: 0;
    background-color: antiquewhite;
    color: black;
    
}