<!DOCTYPE html>
<html xmlns="http://w3.org/1999/xhtml"
    xmlns:th="http://thymeleaf.org">
    <head th:replace="~{layout/plantilla :: head}">
        <title>Empleado</title>
        <meta charset="UTF-8"/>
        
    </head>
    <body>
        
        <h1>Datos De Empleados</h1>
    
<header th:replace="~{layout/plantilla :: header}"/>
<section th:replace="~{empleado/fragmentos :: editarEmpleado}"/> 
<footer th:replace="~{layout/plantilla :: footer}"/>
            
            
            
            
            
           
            
        
        
    </body>
</html>
