<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">
    <head>
        <title>TechShop</title>
        <meta charset="UTF-8"/>
    </head>
    <body>
        <h1>Datos de cliente</h1>
         <a th:href='@{/}'>Regresar</a>
         <hr> 
         <form th:action="/cliente/guardar"
               method="post"
               th:object="${cliente}">
             <label>Nombre</label>
             <input type="text" name="nombre" th:field="*{nombre}"/>
             <br>
             <label>Apellidos</label>
             <input type="text" name="apellidos" size="30" th:field="*{apellidos}">
             <br>
             <label>Correo</label>
             <input type="email" name=correo" size="30" th:field="*{correo}">
             <br>
             <label>Telefono</label>
             <input type="tel" name="telefono" size="30" th:field="*{telefono}">
             <br>
             <input type="submit" name="guardar" value="Guardar">
         </form>
    </body>
</html>
